@{
    ViewData["Title"] = "Okta M2M";
}


<div class="text-center">
    <h1 class="display-4">Okta M2M API Example</h1>
    <p>Learn about <a href="https://developer.okta.com/docs/guides/implement-client-creds/overview/">implementing the Client Credentials Flow in Okta</a>.</p>

    <hr class="mt-3 mb-3"/>

    <a asp-action="GetToken" class="btn btn-primary rounded-0">Get an Access Token from Okta using Client Credentials</a>
</div>
